@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Import Roboto*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    border: 2px solid #333;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 600px;
}

#navtitle{
    padding: 1rem;
    background: gold;
    border-radius: 2rem 2rem 0 0;
}

#selection{
    list-style-type: none;
}

#selection li{
    border-top: 1px solid #333;
    display: inline-block;
    margin-inline: 0.5rem;
}

#selection li a{
    display: block;
    text-decoration: none;
}


#selection li a:hover, 
#selection li a:focus{
    text-decoration: underline;
    background: #333;
    color: whitesmoke;
    cursor: pointer;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

/* a:visited{
    color: purple;
} */

a:hover, a:focus{
    color: dodgerblue;
    opacity: 0.8;
    background: gold;
}

a:active{
    color: red;
}

html{
    font-size: 22px;
}

body { /*Apply to element HTML Elements*/
    font-size: inherit; /*Inherits properties from parent element*/
    min-height: 100vh;
    background-color: #ffefd5;
    
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
}

main{
    font-family: monospace;
}

.container{
    border: 10px double red;
    font-size: 1.5rem;
    margin: 1.5em;
    /* margin-top: 1.5em;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-left: 2em; */
    padding: 1.5em;
    outline: 5px solid purple;
    outline-offset: -20px;
}

h1, h2{ /*Apply to multiple HTML Elements*/
    border: 2px dashed red;
    width: 500px; /*Takes % size of respective parent*/
}

h3{
    color: rgb(136, 119, 26);
}

ol li{ /*Apply to nested elements based on hierarchy HTML Elements*/
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    color: #808088;
}

ul{
    list-style-type: square;
    text-align: center;
    list-style-position: inside;
    color: blue;
    line-height: 1.6;
}

ul li:nth-child(even){
    color: green;
}

ul ::marker{
    color: black;
}

p{
    font-size: 32px; /*n px = absolute fixed size*/
    line-height: 1.5;
    word-spacing: 0.5em;
    color: #32329e;
    text-indent: 2em;
    text-align: justify;
    text-transform: uppercase;
    width: 20ch; /*Set how many characters per line*/
    font-weight: bold;
}

.info-lists{
    font-size: 1rem;
}

.circle{
    margin: 2rem auto;
    background-color: gold;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50px;
    outline: 2px solid red;
    outline-offset: 0.25rem;
}

/* input, button{
    font: inherit;
} */

.despise{ /*Apply to class Elements*/
    font-style: italic;
    font-size: 1em;
    color: gray;
}

#worstOrBest{ /*Apply to elements with specific id*/
    font-size: 30px;
    color: red;
}
