/*
* { Universal selector
    font-family: monospace;
}
*/

html{
    font-size: 22px;
}

body { /*Apply to element HTML Elements*/
    font-size: inherit; /*Inherits properties from parent element*/
    min-height: 100vh;
    background-color: #ffefd5;
    color: rgb(0, 0, 0);
}

main{
    font-family: monospace;
}

h1, h2{ /*Apply to multiple HTML Elements*/
    border: 2px dashed red;
    width: 50%; /*Takes % size of respective parent*/
    font-size: 3rem;
    padding: 0.5em;
    color: blue;
}

h3{
    color: rgb(136, 119, 26);
}

ol li{ /*Apply to nested elements based on hierarchy HTML Elements*/
    text-transform: uppercase;
    color: #808088;
}

p{
    font-size: 32px; /*n px = absolute fixed size*/
    color: #32329e;
    
    width: 20ch; /*Set how many characters per line*/
}

.info-lists{
    font-size: 2rem;
}

.despise{ /*Apply to class Elements*/
    font-style: italic;
    font-size: 1em;
    color: gray;
}

#worstOrBest{ /*Apply to elements with specific id*/
    font-size: 30px;
    color: red;
}